<template>
  <q-page class="q-pa-md">
    <q-list v-if="Object.keys(notes).length" separator bordered>
      <note v-for="note in notes" :key="note.id" :note="note" :id="note.id"></note>
    </q-list>
    <div class="absolute-bottom-right text-center q-mb-lg q-mr-lg">
      <q-btn @click="showAddNote = true" round color="secondary" size="24px" icon="add" />
    </div>
    <q-dialog v-model="showAddNote">
      <add-note @close="showAddNote = false" />
    </q-dialog>
  </q-page>
</template>

<script>
import { mapGetters, mapState } from "vuex";

export default {
  name: "HomePage",
  data() {
    return {
      showAddNote: false
    };
  },
  beforeMount() {
    this.$store.dispatch("data/loadNotes");
  },
  mounted() {
    console.log(this.notes);
  },
  computed: {
    notes() {
      return this.$store.getters["data/getNotes"];
    },
    isLoggedIn() {
      return this.$store.getters["data/getIsLoggedIn"];
    }
  },
  components: {
    note: require("components/Notes/Note.vue").default,
    "add-note": require("components/Notes/Modals/AddNote.vue").default
  }
};
</script>
