<template>
  <q-page>
    <div class="row q-pa-md">
      <div class="text-h6">{{selectedNote.name}}</div>
    </div>
    <div class="absolute-top-right text-center q-mt-md q-mr-lg">
      <q-btn class="q-mr-sm" color="secondary" size="20px" @click="save" label="save" />
      <q-btn color="secondary" size="20px" label="exit" to="/" />
    </div>

    <div class="q-pa-md">
      <q-editor
        v-model="content"
        :dense="$q.screen.lt.md"
        :toolbar="[
        [
          {
            label: $q.lang.editor.align,
            icon: $q.iconSet.editor.align,
            fixedLabel: false,
            options: ['left', 'center', 'right', 'justify']
          }
        ],
        ['bold', 'italic', 'underline'],
        ['token', 'hr', 'link', 'custom_btn'],
        [ 'fullscreen'],
        [
          {
            label: $q.lang.editor.formatting,
            icon: $q.iconSet.editor.formatting,
            list: 'no-icons',
            options: [
              'p',
              'h1',
              'h2',
              'h3',
              'h4',
              'h5',
              'h6',
              'code'
            ]
          },
          {
            label: $q.lang.editor.fontSize,
            icon: $q.iconSet.editor.fontSize,
            fixedLabel: true,
            fixedIcon: true,
            list: 'no-icons',
            options: [
              'size-1',
              'size-2',
              'size-3',
              'size-4',
              'size-5',
              'size-6',
              'size-7'
            ]
          },
          {
            label: $q.lang.editor.defaultFont,
            icon: $q.iconSet.editor.font,
            fixedIcon: true,
            list: 'no-icons',
            options: [
              'default_font',
              'arial',
              'arial_black',
              'comic_sans',
              'courier_new',
              'impact',
              'lucida_grande',
              'times_new_roman',
              'verdana'
            ]
          },
          'removeFormat'
        ],
        ['quote', 'unordered', 'ordered'],

        ['undo', 'redo'],
      ]"
        :fonts="{
        arial: 'Arial',
        arial_black: 'Arial Black',
        comic_sans: 'Comic Sans MS',
        courier_new: 'Courier New',
        impact: 'Impact',
        lucida_grande: 'Lucida Grande',
        times_new_roman: 'Times New Roman',
        verdana: 'Verdana'
      }"
      />
    </div>
  </q-page>
</template>

<style>
.q-editor__content {
  min-height: 30em !important;
}
</style>

<script>
export default {
  name: "NotePage",
  data() {
    return {
      content: "<pre>Have fun with the text editor</pre>"
    };
  },
  methods: {
    save() {
      if (this.isNew) {
        this.$axios
          .post("/api/notes", { ...this.selectedNote, content: this.content })
          .then(response => {
            this.$q.notify({
              color: "green",

              message: response.data.message,
              icon: "arrow_forward"
            });
            this.$store.dispatch("data/loadNotes");
            this.$router.push("/");
          })
          .catch(error => {
            this.$q.notify({
              color: "negative",

              message: error.response.data.message,
              icon: "report_problem"
            });
          });
      } else {
        this.$axios
          .put(`/api/notes/${this.selectedNote.id}`, {
            ...this.selectedNote,
            content: this.content
          })
          .then(response => {
            this.$q.notify({
              color: "green",

              message: response.data.message,
              icon: "arrow_forward"
            });
            this.$store.dispatch("data/loadNotes");
            this.$router.push("/");
          })
          .catch(error => {
            this.$q.notify({
              color: "negative",

              message: error.response.data.message,
              icon: "report_problem"
            });
          });
      }
    }
  },
  beforeMount() {
    if (this.selectedNote.content) {
      this.content = this.selectedNote.content;
    }
  },
  computed: {
    selectedNote() {
      return this.$store.getters["data/getSelectedNote"];
    },
    isNew() {
      return this.$store.getters["data/getIsNew"];
    }
  }
};
</script>
